example.json
[{"id":"1407598a.ebf8a6","type":"smartswitch","name":"","topic":"shed","timeout":"30","x":754,"y":575,"z":"895e0869.76a1f8","wires":[["dad11b35.252ee8"]]},{"id":"4b820e09.b47df","type":"smartswitch","name":"","topic":"lights/lounge","timeout":"120","x":756,"y":233,"z":"895e0869.76a1f8","wires":[["87876e30.78789"]]},{"id":"d08fd670.2f7028","type":"inject","name":"","topic":"toggle","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":155,"y":77,"z":"895e0869.76a1f8","wires":[["4b820e09.b47df","87a2aee8.785d5"]]},{"id":"38e26560.c71d9a","type":"inject","name":"ON","topic":"state","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":155,"y":115,"z":"895e0869.76a1f8","wires":[["4b820e09.b47df"]]},{"id":"72592272.8da6dc","type":"inject","name":"off","topic":"state","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":150,"y":153,"z":"895e0869.76a1f8","wires":[["4b820e09.b47df"]]},{"id":"c68fdc51.39702","type":"inject","name":"PIR reset timer","topic":"reset","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":108,"y":326,"z":"895e0869.76a1f8","wires":[["4b820e09.b47df","c74c4227.38b3c"]]},{"id":"fd5663ee.02a9a","type":"inject","name":"enable Timer","topic":"set","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":97,"y":255,"z":"895e0869.76a1f8","wires":[["4b820e09.b47df"]]},{"id":"ef258e6.f10da7","type":"inject","name":"disable Timer","topic":"set","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":96,"y":290,"z":"895e0869.76a1f8","wires":[["4b820e09.b47df"]]},{"id":"87876e30.78789","type":"debug","name":"","active":true,"console":"false","complete":"true","x":999,"y":222,"z":"895e0869.76a1f8","wires":[]},{"id":"347fbea7.cb8042","type":"inject","name":"","topic":"timeout","payload":"3","payloadType":"string","repeat":"","crontab":"","once":false,"x":512,"y":92,"z":"895e0869.76a1f8","wires":[["4b820e09.b47df","c74c4227.38b3c","59ff8b6.fa60074","dd276f75.22d89","87a2aee8.785d5"]]},{"id":"c74c4227.38b3c","type":"smartswitch","name":"","topic":"lights/entrance","timeout":"30","x":754,"y":307,"z":"895e0869.76a1f8","wires":[["87876e30.78789"]]},{"id":"aa6d7bae.559288","type":"inject","name":"","topic":"toggle","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":393,"y":364,"z":"895e0869.76a1f8","wires":[["c74c4227.38b3c"]]},{"id":"5debfaf.fa21404","type":"comment","name":"Buttons: Toggle, On, Off","info":"","x":121,"y":38,"z":"895e0869.76a1f8","wires":[]},{"id":"faa3548b.055ca8","type":"comment","name":"Reset Timer from Motion","info":"","x":107,"y":220,"z":"895e0869.76a1f8","wires":[]},{"id":"2e654924.d19ab6","type":"comment","name":"All Off - going to bed in 3 seconds (only lights that are already on)","info":"","x":646,"y":49,"z":"895e0869.76a1f8","wires":[]},{"id":"dd276f75.22d89","type":"smartswitch","name":"","topic":"lights/wardrobe","timeout":"15","x":761,"y":462,"z":"895e0869.76a1f8","wires":[["c595ae50.3a6a5"]]},{"id":"59ff8b6.fa60074","type":"smartswitch","name":"","topic":"lights/bedroom","timeout":"60","x":760,"y":392,"z":"895e0869.76a1f8","wires":[["87876e30.78789"]]},{"id":"6991c611.966e38","type":"inject","name":"","topic":"toggle","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":394,"y":409,"z":"895e0869.76a1f8","wires":[["59ff8b6.fa60074"]]},{"id":"38825945.c77da6","type":"comment","name":"Output: MQTT Topic or Similar","info":"","x":1039,"y":174,"z":"895e0869.76a1f8","wires":[]},{"id":"94b1dd08.6b4e2","type":"inject","name":"","topic":"toggle","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":391,"y":467,"z":"895e0869.76a1f8","wires":[["dd276f75.22d89"]]},{"id":"7dd25aa3.822da4","type":"inject","name":"","topic":"toggle","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":261,"y":571,"z":"895e0869.76a1f8","wires":[["1407598a.ebf8a6"]]},{"id":"aabc8cbb.55437","type":"inject","name":"PIR reset timer","topic":"reset","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":115,"y":624,"z":"895e0869.76a1f8","wires":[["1407598a.ebf8a6"]]},{"id":"dad11b35.252ee8","type":"debug","name":"","active":true,"console":"false","complete":"true","x":1011,"y":583,"z":"895e0869.76a1f8","wires":[]},{"id":"fcb4820.f034b8","type":"debug","name":"","active":true,"console":"false","complete":"true","x":1149,"y":408,"z":"895e0869.76a1f8","wires":[]},{"id":"85eea479.7a1158","type":"debug","name":"","active":true,"console":"false","complete":"true","x":1151,"y":462,"z":"895e0869.76a1f8","wires":[]},{"id":"c595ae50.3a6a5","type":"switch","name":"","property":"payload","rules":[{"t":"eq","v":"1"},{"t":"eq","v":"0"}],"checkall":"true","outputs":2,"x":998,"y":434,"z":"895e0869.76a1f8","wires":[["fcb4820.f034b8"],["85eea479.7a1158"]]},{"id":"55ccdb97.aa3324","type":"comment","name":"On or Off separate (good for 433Mhz controllers)","info":"","x":1066,"y":369,"z":"895e0869.76a1f8","wires":[]},{"id":"4d636343.b29c9c","type":"comment","name":"Separate Output insead of Topic","info":"","x":1079,"y":548,"z":"895e0869.76a1f8","wires":[]},{"id":"df6fe25a.20902","type":"comment","name":"Stand alone PIR, no All off","info":"","x":144,"y":532,"z":"895e0869.76a1f8","wires":[]},{"id":"87a2aee8.785d5","type":"smartswitch","name":"","topic":"lights/reading","timeout":"0","x":750,"y":176,"z":"895e0869.76a1f8","wires":[["87876e30.78789"]]}]
